<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8"/>
<body>

<h3>Sistema de Cadastro de Eventos</h3>
<h3><a href="/chamartelacadastroevento">Cadastro</a> O primeiro endpoint foi apenas para chamar a tela e no formulario de cadastro<br/> é que tem a chamada do endpoint para cadastrar /cadastrarevento<br/></h3>
<h3><a href="/cadastrarevento">Cadastrar Evento</a>  - chamar o endpoint de cadastro diretamente de uma url não vai<br/></h3>
<h3> <a href="/listaev"> Lista de eventos</a></h3>
</body>

</html>